.vs/
.vscode/
build/**
*bak
*.o
*.obj
*.idea
*.iml
*.log
*.enc
*.suo
*.lik
*.lnk
*.pdb
*.db
*.pch
*.ipch
*.pyc
*.dot
*.pbtxt
build/
.eggs/
python/channel_sdk/*.so*
__pycache__
history
python/channel_sdk.egg-info
*.swp

third_party/gmssl/*
