.vs/
.vscode/
build/**

*.o
*.obj
*.idea
*.iml
*.log
*.enc
*.suo
*.lik
*.lnk
*.pdb
*.db
*.pch
*.ipch
*.pyc
*.dot
*.pbtxt
build/
.eggs/
dist/
python/io_channel/*.so
__pycache__
history
python/io_channel.egg-info
*.swp


